<div class="row">
  <div class="col-md-12 card">
    <h3 class="text-center">Pokemon Details - {{ pokemon?.name | titlecase }}</h3>

    <img
      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/1.png"
      alt="Bulbasaur"
      class="card-img-top card-details"
    >

    <div class="card-body text-black">
      <p><strong>Name: </strong> {{ pokemon?.name | uppercase }}</p>
      <p><strong>Id: </strong> {{ pokemon?.id }}</p>
      <p><strong>weight:</strong> {{ pokemon?.weight | hectograms: 12 }} (12 hectograms factor) </p>
      <p><strong>height:</strong> {{ pokemon?.height | decimeter  }} decimeters </p>
    </div>

  </div>
</div>
